* {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  font-family: inherit;
  appearance: none;
}

*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $color-text;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: $color-text;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
}

.button {
  white-space: nowrap;
  color: #fff;
  background-color: $blue;
  border: none;
  &--outline {
    &-blue {
      color: $blue;
      background-color: #ffffff;
    }

    &-purple {
      color: $purple;
      background-color: #ffffff;
    }
  }

  &--transporent {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
  }
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: #fff;
  padding: 40px 30px;
  font-weight: 400;
  &__title {
    font-size: 30px;
    color: #000;
  }

  &__slide-nav {
    border-radius: 23px;
    display: inline-block;
    color: #ffffff;

    display: flex;
  }

  &__slide-nav-arrow {
    padding: 15px 25px;
  }

  &--purple {
    background-color: #7347c1;
  }

  &--blue {
    background-color: $blue;
  }
}

.rate-star {
  display: inline-block;
}

.slick-slide {
  margin: 0 15px;
}

.slick-list {
  margin: 0 -15px;
}

.title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 36px;
  color: #000000;
  & span {
    color: $blue;
  }
}

.subtitle {
  margin: 0 auto;
  max-width: 672px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
}

.search {
  position: relative;
  &__form {
  }

  &__input {
    &--m-s {
      padding-left: 25px;
      border: 1px solid #d9dfe5;
      border-radius: 23px;
      height: 46px;
      width: 100%;
    }

    &--b-s {
      border: none;
      border-radius: 25px;
      height: 50px;
      width: 100%;
      padding-left: 30px;
    }

    &::placeholder {
      color: #898f96;
      font-family: 'Quicksand', sans-serif;
      font-size: 15px;
      font-weight: 400;
    }
  }

  &__button {
    &--m-s {
      border-radius: 23px;

      width: 70px;
      height: 46px;
      position: absolute;
      top: 0px;
      right: 0px;
    }

    &--b-s {
      border-radius: 25px;
      width: 110px;
      height: 50px;
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }
}
