@import 'vars';
@import 'global';

.header {
  &__top {
    background-color: #eef1f3;
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
  }

  &__logo {
  }

  &__button {
    font-size: 14px;
    padding: 12px 18px;
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
  }

  &__icons {
    margin: 0 50px;
  }

  &__icons &__link-icon &__icon {
    color: #7e8fa1;
    font-size: 20px;
    margin-right: 30px;
  }

  &__notif-icon {
  }

  &__message-icon {
  }

  &__basket-icon {
  }

  &__account {
  }

  &__bottom {
  }

  &__bottom-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    padding: 35px 0px;
  }

  &__search {
  }
}

.account {
  display: flex;
  align-items: center;
  &__img {
    background-color: #7c7979;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 22px;
  }

  &__info {
    line-height: 22px;
  }

  &__name {
    color: #333;
    font-size: 16px;
    font-weight: 600;
  }

  &__balance {
    color: $blue;
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item + &__item {
    margin-left: 34px;
  }

  &__link {
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.search {
  position: relative;
  &__form {
  }

  &__input {
    padding: 16px 25px;
    border: 1px solid #d9dfe5;
    border-radius: 23px;
    height: 46px;
    width: 360px;
  }

  &__input::placeholder {
    color: #898f96;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 400;
  }

  &__button {
    border-radius: 23px;
    padding: 15px 27px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  &__button-icon {
    color: #fff;
    font-size: 16px;
  }
}

.main {
  position: relative;
  min-height: 726px;
  color: #f3f3f8;
  background-color: #441c7c;
  background-image: linear-gradient(to left, #0030de 0%, #2e5afb 100%);
  opacity: 0.8;
  &__inner {
    padding-top: 184px;
  }

  &__title {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 38px;
  }

  &__title-bold {
    font-weight: 700;
  }

  &__text {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 68px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  &__button-view-all {
    font-size: 16px;
    padding: 20px 32px;
    border-radius: 28px;
    margin-right: 30px;
  }

  &__button-popular-prod {
    font-size: 16px;
    padding: 20px 32px;
    border-radius: 28px;
  }

  &__search-inner {
    position: absolute;
    bottom: -71px;
  }

  &__search-repeat-1 {
    position: absolute;
    width: 100%;
    max-width: 1080px;
    height: 135px;
    bottom: 26px;
    left: 30px;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 6px;
  }

  &__search-repeat-2 {
    position: absolute;
    width: 100%;
    max-width: 1110px;
    bottom: 13px;
    height: 135px;
    left: 15px;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 6px;
  }

  &__search {
    height: 135px;
    position: relative;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    background-color: #ffffff;
  }

  &__form {
    display: flex;
    justify-content: space-between;
  }

  &__search-box {
    display: flex;
  }

  &__search-input {
    width: 612px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    border: 1px solid #dcdcdc;
    padding: 20px 30px;
  }

  &__search-input::placeholder {
    color: #676767;
    font-size: 16px;
  }

  &__search-combo-box {
    text-align: center;
    color: #676767;
    font-size: 16px;
    max-width: 194px;
    width: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #dcdcdc;
    border-left: none;
    padding: 20px;
  }

  &__search-combo-box::after {
  }

  &__search-combo-box option {
    color: #676767;
    font-size: 16px;
  }

  &__search-button {
    margin-left: 30px;
    padding: 21px 68px;
    font-size: 16px;
    border-radius: 4px;
  }
}

.banner-section {
  &__inner {
    display: flex;
    margin: 185px 0 120px;
  }

  &__banner {
  }
}

.banner {
  padding: 40px 35px 50px;
  max-width: 361px;
  &__img {
    margin: 0 auto;
    min-width: 113px;
    min-height: 112px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
  }

  &__title {
    margin: 35px 0px 30px;
    font-weight: 500;
    color: #010101;
    font-size: 24px;
    text-align: center;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
  }

  &:hover {
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
  }
}

.featured {
  background-color: #eff1f5;
  padding-top: 120px;
  padding-bottom: 120px;
  &__inner {
  }

  &__header {
    margin-bottom: 50px;
  }

  &__title {
  }

  &__slide-nav {
    border-radius: 23px;
    display: inline-block;
    color: #ffffff;
    background-color: #7347c1;
  }
  &__slide-nav {
    display: flex;
  }
  &__slide-nav-arrow {
    padding: 15px 25px;
  }

  &__product {
    display: flex;
    box-shadow: 0 2px 30px rgba(147, 155, 168, 0.1);
    border-radius: 4px;
    background-color: #ffffff;
  }

  &__product-img {
    background-color: #4e5760;

    min-width: 555px;
    height: 450px;
  }

  &__product-content {
    padding: 50px 50px 25px 50px;
  }

  &__product-title {
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  &__product-subtitle {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
  }
  &__product-user-img {
    width: 30px;
    height: 30px;
    background-color: #7347c1;
    border-radius: 50%;
    margin-right: 9px;
  }

  &__product-user-name {
    color: #000000;
    font-weight: 500;
  }

  &__product-category {
    display: flex;
    color: #7347c1;
  }

  &__product-category:before {
    content: url(../img/icons/wordpress.svg);
    margin-right: 9px;
    margin-left: 21px;
    width: 16px;
    height: 16px;
  }

  &__product-text {
    font-size: 16px;
    line-height: 30px;
  }

  &__product-tags {
    margin-bottom: 24px;
    border-bottom: solid 1px #ececec;
  }

  &__product-tag {
    margin-top: 40px;
    margin-bottom: 45px;
    padding: 7px 14px;
    color: #868c96;
    display: inline-block;
    border-radius: 14px;
    background-color: #f1f3f6;
  }

  &__product-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__product-link {
  }

  &__product-price {
    padding: 9px 19px;
    border-radius: 16px;
    background-color: $blue;
    font-weight: 500;
    color: #ffffff;
  }

  &__product-favorite {
    & span {
      color: #7347c1;
      margin-left: 19px;
      margin-right: 9px;
      font-size: 15px;
    }
  }

  &__product-buyers {
    color: $blue;
    & span {
      margin-left: 19px;
      margin-right: 9px;
      font-size: 15px;
    }
  }

  &__product-star {
    display: inline-block;
  }
}

.product {
  background-color: #f6f7fb;
  padding-top: 120px;
  padding-bottom: 120px;
  &__inner {
  }

  &__header {
    margin-bottom: 30px;
  }

  &___header-title {
  }

  &__filter {
    color: #747b86;
    font-size: 16px;
    display: flex;

    &::after {
      margin-left: 25px;
      content: url(../img/icons/ellipsis-vertical.svg);
    }
  }

  &__buttons {
    margin-bottom: 50px;
    display: flex;
    padding: 30px;
    box-shadow: 0 1px 2px rgba(90, 93, 100, 0.1);
    border-radius: 4px;
    background-color: #ffffff;

    button {
      padding: 10px 20px;
      color: #747b86;
      border: none;
      background-color: #f1f3f6;
      border-radius: 16px;
      cursor: pointer;
      & + button {
        margin-left: 10px;
      }

      &.mixitup-control-active {
        background-color: $blue;
        color: #fff;
      }
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    width: 100%;
    margin-bottom: 30px;
    max-width: 361px;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #ffffff;
  }

  &__img {
    background-color: #3c6490;
    min-height: 230px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
  }

  &__content {
    padding: 30px;
  }

  &__title {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 17px;
  }

  &__subtitle {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__author-avatar {
    width: 30px;
    height: 30px;
    background-color: #7347c1;
    border-radius: 50%;
    margin-right: 7px;
  }

  &__author-name {
    font-weight: 500;
    color: #000000;
  }

  &__category {
    display: flex;
    color: #7347c1;
  }

  &__category span {
    margin-right: 9px;
    margin-left: 20px;
    width: 16px;
    height: 16px;
  }

  &__text {
    line-height: 30px;
    font-size: 16px;
  }

  &__info {
    display: flex;
    align-items: center;

    border-top: solid 1px #ececec;
    padding: 15px 30px;
  }

  &__star {
    margin: 0 15px;
  }

  &__price {
    padding: 8px 16px;
    border-radius: 15px;
    background-color: #e6f1fd;

    color: #0674ec;
    font-weight: 600;
  }

  &__like {
    color: #7f4ec2;
    & span {
      margin-left: 12px;
      margin-right: 6px;
    }
  }

  &__buyers {
    margin-left: auto;
    color: $blue;
    & span {
      margin-right: 10px;
    }
  }

  &__bottom-btn {
    display: block;
    box-sizing: border-box;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    padding: 18px 37px;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 30px;
  }
}
