@import 'vars';
@import 'global';

.header {
  &__top {
    z-index: 0;
    background-color: #eef1f3;
  }

  &__top-inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px;
  }

  &__logo {
  }

  &__button {
    font-size: 14px;
    padding: 12px 18px;
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
  }

  &__box {
    display: flex;

    margin: 0 50px;
  }

  &__box-item {
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 40px;
    margin-top: 25px;
  }

  &__link-icon {
    position: relative;
    color: #7e8fa1;
    font-size: 20px;
    // & + .header__link-icon {
    //   margin-left: 30px;
    // }

    span {
      position: absolute;
      line-height: 22px;
      display: block;
      width: 22px;
      height: 22px;
      border-radius: 11px;
      text-align: center;
      right: -16px;
      top: -16px;
      color: #ffffff;
      font-family: Quicksand, sans-serif;
      font-size: 14px;
    }
  }

  &__basket {
    margin-left: 30px;

    &-icon {
      span {
        background-color: $blue;
      }
    }

    &:hover {
      .basket__menu {
        max-height: 550px;
        border-top: 1px solid $blue;
      }
    }
  }

  &__message {
    margin-left: 30px;
    &-icon {
      span {
        background-color: #62d03b;
      }
    }

    &:hover {
      .message__menu {
        max-height: 550px;
        border-top: 1px solid $blue;
      }
    }
  }

  &__notification {
    &-icon {
      span {
        width: 26px;
        background-color: $tomato;
      }
    }

    &:hover {
      .notification__menu {
        max-height: 500px;
        border-top: 1px solid $blue;
      }
    }
  }

  &__account {
    margin-top: 25px;
    padding-bottom: 25px;
    cursor: pointer;
    &:hover {
      .account__menu {
        max-height: 550px;
        padding: 20px;
        border-top: 1px solid $blue;
      }
    }
  }
  &__bottom {
  }

  &__bottom-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    padding: 35px 0px;
  }

  &__search {
    width: 360px;
  }
}

#modal {
  padding: 60px 50px;
  width: 555px;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
  .login {
    &__title {
      text-align: center;
      color: #000000;
      margin-bottom: 25px;
      font-size: 26px;
      font-weight: 500;
    }

    &__subtitle {
      text-align: center;
      margin-bottom: 30px;
      font-size: 16px;
    }

    form {
      border-top: 1px solid #e8ebf0;
    }

    label:not([class]) {
      display: block;
      margin-top: 30px;
      color: #000000;
      font-weight: 500;
      font-size: 16px;
    }

    input[type='text'],
    input[type='password'] {
      margin-top: 15px;
      height: 50px;
      border: none;
      background-color: #f4f5f8;
      &::placeholder {
        color: #898f96;
        font-size: 16px;
      }
      padding: 0 20px;
      display: block;
      width: 100%;
    }

    &__buttom {
      display: flex;
      justify-content: space-between;
    }

    &__lost {
      font-size: 16px;
    }

    &__lost-username {
      color: $blue;
    }

    &__lost-password {
      color: $blue;
    }

    &__register {
      font-size: 16px;
    }

    &__register-account {
      color: $blue;
    }

    &__btn {
      width: 190px;
      height: 50px;
      border-radius: 25px;
      margin-bottom: 40px;
    }
  }
}

.check-box {
  display: block;
  margin-top: 30px;
  color: #555;
  font-weight: 500;
  font-size: 16px;

  padding-left: 35px;
  height: 20px;
  margin-bottom: 30px;
  line-height: 19px;
  &__style {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../img/icons/check-off.svg);
    margin-left: -35px;
  }

  &__input {
  }

  &__input:checked + &__style {
    background-image: url(../img/icons/check-on.svg);
    width: 20px;
    height: 20px;
  }
}

.drop-down-menu {
  box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
  border-radius: 0 0 3px 3px;
  background-color: #ffffff;
  position: absolute;
  cursor: default;
  z-index: 1;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s;

  border-top: 0px solid $blue;
  // &__triangle {
  //   position: absolute;
  //   top: 0px;
  //   content: '';
  //   width: 0;
  //   height: 0;
  //   border-left: 9px solid transparent;
  //   border-right: 9px solid transparent;
  //   border-bottom: 10px solid #0674ec;
  // }
}

.account {
  display: flex;
  align-items: center;

  &__img {
    background-color: #a9a9a9;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 22px;
  }

  &__info {
    line-height: 22px;
  }

  &__name {
    color: #333;
    font-size: 16px;
    font-weight: 600;
  }

  &__balance {
    font-weight: 500;
    color: $blue;
  }

  &__menu {
    width: 270px;
    right: 0px;
    padding: 0px 20px 0px 20px;
    top: 100px;

    li {
      display: block;
    }

    a {
      display: block;
      padding: 15px 10px;
      color: #54667a;
      font-weight: 500;

      &:hover {
        background-color: $blue;
        color: #fff;

        span {
          color: #fff;
        }
      }

      span {
        color: #54667a;
        margin-right: 14px;
        font-size: 15px;
      }
    }
  }
}

.basket {
  &__menu {
    right: 200px;
    top: 100px;
    width: 400px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding: 25px;
    border-bottom: 1px solid #e8ebf0;

    &-img {
      width: 80px;
      height: 70px;
      background-color: #828282;
      margin-right: 15px;
    }

    &-name {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 178px;
      margin-right: auto;
    }

    &-circles {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
    }

    &-title {
      color: #000000;

      font-size: 16px;
      font-weight: 600;
    }

    &-link-delete {
      position: relative;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      display: block;
      background-color: rgba(115, 70, 192, 0.1);
      span {
        display: block;
        top: 8px;
        left: 8px;
        position: absolute;
        color: #818c98;
        font-size: 16px;
      }
    }

    &-category {
      display: flex;
      color: $purple;
      span {
        margin-right: 5px;
      }
    }

    &-price {
      display: inline-block;
      color: $blue;
      font-size: 16px;
      font-weight: 600;
      border-radius: 15px;
      padding: 7px 12px;
      background-color: rgba(6, 116, 236, 0.1);
    }
  }

  &__total {
    padding: 25px 25px 30px 25px;
    display: flex;
    justify-content: flex-end;
    color: #000000;

    font-size: 18px;
    font-weight: 600;
  }

  &__total-title {
    margin-right: 30px;
  }

  &__total-price {
  }

  &__buttons {
    display: flex;
  }

  &__btn {
    background-color: $purple;
    color: #fefefe;
    width: 200px;
    padding: 25px 0;
    text-align: center;
  }

  &__btn--checkout {
    background-color: $blue;
  }
}

.message {
  &__menu {
    right: 240px;
    top: 100px;
    width: 370px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
  }

  &__title {
    font-weight: 500;
    color: #000000;

    font-size: 18px;
  }

  &__btm-view-all {
    color: $blue;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    padding: 20px 25px;

    border: 1px solid #e8ebf0;

    &--new {
      .message__info-name span {
        color: $blue;
      }

      .message__info-date {
        color: $blue;
      }
    }
  }

  &__img {
    margin-right: 15px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #3a2c29;
  }

  &__info {
    height: 45px;
    width: 265px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &-name {
      color: #333333;
      font-weight: 600;
      font-size: 16px;
      span {
        margin-left: 14px;
      }
    }

    &-text {
    }

    &-date {
      position: absolute;
      top: 0px;
      right: 0px;
      white-space: nowrap;
    }
  }
}

.notification {
  &__menu {
    width: 370px;

    right: 0px;
    top: 100px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
  }

  &__title {
    font-weight: 500;
    color: #000000;

    font-size: 18px;
  }

  &__btm-view-all {
    color: $blue;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 20px 25px;

    border-top: 1px solid #e8ebf0;
  }

  &__img {
    margin-right: 15px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #3a2c29;
  }

  &__text {
    line-height: 30px;

    &::first-line {
      line-height: 100% !important;
    }
  }

  &__info {
    position: relative;
    height: 60px;
    width: 215px;
    margin-right: auto;

    &-name {
      display: inline;
      color: #333333;
      font-size: 16px;
      font-weight: 600;
    }

    &-event {
      color: #747a86;
      display: inline;
    }

    &-sender {
      display: inline-block;
      color: $blue;
    }

    &-date {
      display: block;
      color: #747a86;
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
  }

  &__circle {
    align-self: center;
    position: relative;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: block;

    span {
      display: block;
      top: 9px;
      left: 9px;
      position: absolute;

      font-size: 15px;
    }
  }

  &__icon-heart {
    background-color: rgba($blue, 0.1);
    span {
      color: $blue;
    }
  }

  &__icon-bubble {
    background-color: rgba($purple, 0.1);
    span {
      color: $purple;
    }
  }

  &__icon-cart {
    background-color: rgba($tomato, 0.1);
    span {
      color: $tomato;
    }
  }

  &__icon-star {
    background-color: rgba($lime, 0.1);
    span {
      color: $lime;
    }
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item + &__item {
    margin-left: 34px;
  }

  &__link {
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.main {
  position: relative;
  min-height: 726px;
  color: #f3f3f8;
  background-color: #441c7c;
  background-image: linear-gradient(to left, #0030de 0%, #2e5afb 100%);
  opacity: 0.8;
  &__inner {
    padding-top: 184px;
  }

  &__title {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 38px;
  }

  &__title-bold {
    font-weight: 700;
  }

  &__text {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 68px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  &__button-view-all {
    font-size: 16px;
    padding: 20px 32px;
    border-radius: 28px;
    margin-right: 30px;
  }

  &__button-popular-prod {
    font-size: 16px;
    padding: 20px 32px;
    border-radius: 28px;
  }

  &__search-inner {
    position: absolute;
    bottom: -71px;
  }

  &__search-repeat-1 {
    position: absolute;
    width: 100%;
    max-width: 1080px;
    height: 135px;
    bottom: 26px;
    left: 30px;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 6px;
  }

  &__search-repeat-2 {
    position: absolute;
    width: 100%;
    max-width: 1110px;
    bottom: 13px;
    height: 135px;
    left: 15px;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 6px;
  }

  &__search {
    height: 135px;
    position: relative;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    background-color: #ffffff;
  }

  &__form {
    display: flex;
    justify-content: space-between;
  }

  &__search-box {
    display: flex;
  }

  &__search-input {
    width: 612px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    border: 1px solid #dcdcdc;
    padding: 20px 30px;
  }

  &__search-input::placeholder {
    color: #676767;
    font-size: 16px;
  }

  &__search-combo-box {
    text-align: center;
    color: #676767;
    font-size: 16px;
    max-width: 194px;
    width: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #dcdcdc;
    border-left: none;
    padding: 20px;
  }

  &__search-combo-box::after {
  }

  &__search-combo-box option {
    color: #676767;
    font-size: 16px;
  }

  &__search-button {
    margin-left: 30px;
    padding: 21px 68px;
    font-size: 16px;
    border-radius: 4px;
  }
}

.banner-section {
  &__inner {
    display: flex;
    margin: 185px 0 120px;
  }

  &__banner {
  }
}

.banner {
  padding: 40px 35px 50px;
  max-width: 361px;
  &__img {
    margin: 0 auto;
    min-width: 113px;
    min-height: 112px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
  }

  &__title {
    margin: 35px 0px 30px;
    font-weight: 500;
    color: #010101;
    font-size: 24px;
    text-align: center;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
  }

  &:hover {
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
  }
}

.featured {
  background-color: #eff1f5;
  padding-top: 120px;
  padding-bottom: 120px;
  &__inner {
  }

  &__header {
    margin-bottom: 50px;
  }

  &__title {
  }

  &__slide-nav {
    border-radius: 23px;
    display: inline-block;
    color: #ffffff;
    background-color: $purple;
    display: flex;
  }

  &__slide-nav-arrow {
    padding: 15px 25px;
  }

  &__product {
    display: flex;
    box-shadow: 0 2px 30px rgba(147, 155, 168, 0.1);
    border-radius: 4px;
    background-color: #ffffff;
  }

  &__product-img {
    background-color: #4e5760;

    min-width: 555px;
    height: 450px;
  }

  &__product-content {
    padding: 50px 50px 25px 50px;
  }

  &__product-title {
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  &__product-subtitle {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
  }
  &__product-user-img {
    width: 30px;
    height: 30px;
    background-color: $purple;
    border-radius: 50%;
    margin-right: 9px;
  }

  &__product-user-name {
    color: #000000;
    font-weight: 500;
  }

  &__product-category {
    display: flex;
    color: $purple;
  }

  &__product-category:before {
    content: url(../img/icons/wordpress.svg);
    margin-right: 9px;
    margin-left: 21px;
    width: 16px;
    height: 16px;
  }

  &__product-text {
    font-size: 16px;
    line-height: 30px;
  }

  &__product-tags {
    margin-bottom: 24px;
    border-bottom: solid 1px #ececec;
  }

  &__product-tag {
    margin-top: 40px;
    margin-bottom: 45px;
    padding: 7px 14px;
    color: #868c96;
    display: inline-block;
    border-radius: 14px;
    background-color: #f1f3f6;
  }

  &__product-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__product-link {
  }

  &__product-price {
    padding: 9px 19px;
    border-radius: 16px;
    background-color: $blue;
    font-weight: 500;
    color: #ffffff;
  }

  &__product-favorite {
    & span {
      color: $purple;
      margin-left: 19px;
      margin-right: 9px;
      font-size: 15px;
    }
  }

  &__product-buyers {
    color: $blue;
    & span {
      margin-left: 19px;
      margin-right: 9px;
      font-size: 15px;
    }
  }

  &__product-star {
    display: inline-block;
  }
}

.products {
  background-color: #f6f7fb;
  padding-top: 120px;
  padding-bottom: 120px;
  &__inner {
  }

  &__header {
    margin-bottom: 30px;
  }

  &__filter {
    color: #747b86;
    font-size: 16px;
    display: flex;

    &::after {
      margin-left: 25px;
      content: url(../img/icons/ellipsis-vertical.svg);
    }
  }

  &__buttons {
    margin-bottom: 50px;
    display: flex;
    padding: 30px;
    box-shadow: 0 1px 2px rgba(90, 93, 100, 0.1);
    border-radius: 4px;
    background-color: #ffffff;

    button {
      padding: 10px 20px;
      color: #747b86;
      border: none;
      background-color: #f1f3f6;
      border-radius: 16px;
      cursor: pointer;
      & + button {
        margin-left: 10px;
      }

      &.mixitup-control-active {
        background-color: $blue;
        color: #fff;
      }
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__bottom-btn {
    display: block;
    box-sizing: border-box;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    padding: 18px 37px;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 30px;
  }
}

.product {
  &__item {
    width: 100%;
    margin-bottom: 30px;
    max-width: 361px;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #ffffff;
  }

  &__img {
    background-color: #3c6490;
    min-height: 230px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
  }

  &__content {
    padding: 30px;
  }

  &__title {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 17px;
  }

  &__subtitle {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__author-avatar {
    width: 30px;
    height: 30px;
    background-color: $purple;
    border-radius: 50%;
    margin-right: 7px;
  }

  &__author-name {
    font-weight: 500;
    color: #000000;
  }

  &__category {
    display: flex;
    color: $purple;
  }

  &__category span {
    margin-right: 9px;
    margin-left: 20px;
    width: 16px;
    height: 16px;
  }

  &__text {
    line-height: 30px;
    font-size: 16px;
  }

  &__info {
    display: flex;
    align-items: center;

    border-top: solid 1px #ececec;
    padding: 15px 30px;
  }

  &__star {
    margin: 0 15px;
  }

  &__price {
    padding: 8px 16px;
    border-radius: 15px;
    background-color: #e6f1fd;

    color: $blue;
    font-weight: 600;
  }

  &__like {
    color: #7f4ec2;
    & span {
      margin-left: 12px;
      margin-right: 6px;
    }
  }

  &__buyers {
    margin-left: auto;
    color: $blue;
    & span {
      margin-right: 10px;
    }
  }
}

.products-slider {
  padding-top: 120px;
  padding-bottom: 90px;
  background-color: #eff1f5;
  &__inner {
  }

  &__header {
    margin-bottom: 50px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.statistics {
  background-color: #212225;
  padding: 100px 0px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    text-align: center;
  }

  &__img {
    display: block;
    font-size: 48px;
    margin-bottom: 48px;
  }

  &__num {
    font-size: 36px;
    margin-bottom: 16px;
  }

  &__text {
    color: #ffffff;
    font-size: 18px;
  }
}

.reason {
  background-color: #fff;
  padding: 120px 0px;
  &__inner {
  }

  &__title {
  }

  &__subtitle {
    margin-bottom: 30px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    background-color: #ffffff;
    max-width: 361px;
    padding: 50px 35px 60px 34px;
    position: relative;
  }

  &__num {
    position: absolute;
    opacity: 0.2;
    color: #5c87f8;
    font-size: 48px;
    font-weight: 300;
    top: 20px;
    left: 20px;
  }

  &__img {
    font-size: 60px;
    margin-bottom: 46px;
  }

  &__name {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 500;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
  }
}

.choice {
  &__inner {
    display: flex;
    justify-content: center;
  }

  &__item {
    padding: 100px 190px;

    flex-basis: 100%;
    color: #ffffff;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__item-container {
  }

  &__img {
    margin-bottom: 50px;
  }

  &__title {
    margin-bottom: 30px;
    font-size: 36px;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 50px;
    text-align: center;
  }

  &__btn {
    padding: 20px 26px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    font-size: 16px;
  }
}

.feedback {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
  &__inner {
  }

  &__title {
  }

  &__subtitle {
    margin-bottom: 60px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 555px;
    padding: 50px 40px;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    background-color: #ffffff;
    // border-left: 2px solid $blue;
    position: relative;
    &::before {
      top: 0px;
      left: 0px;
      position: absolute;
      content: '';
      display: block;
      width: 2px;
      height: 100%;
      background-color: $blue;
      border-radius: 1px;
    }
  }

  &__info {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }
  &__user-avatar {
    margin-right: 20px;
    width: 80px;
    height: 80px;
    background-color: #808080;
    border-radius: 50%;
  }

  &__user-title {
  }

  &__user-name {
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    margin-bottom: 14px;
  }

  &__user-position {
    color: #555555;
    font-size: 16px;
  }

  &__icon {
    margin-left: auto;
    color: #e8e8e8;
    font-size: 60px;
  }

  &__text {
    max-width: 475px;
    color: #555555;
    line-height: 30px;
    font-size: 16px;
  }

  &__btn {
    display: block;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    padding: 20px 34px;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 60px;
  }
}

.latest-news {
  background-color: #eff1f5;
  padding: 120px 0px;
  &__inner {
  }

  &__subtitle {
    margin-bottom: 60px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.news {
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background-color: #ffffff;
  max-width: 362px;

  &__img {
    width: 361px;
    height: 230px;
    border-radius: 4px 4px 0 0;
    background-color: #7385cd;
  }

  &__content {
    height: 170px;
    padding: 30px 30px 0px 30px;
    overflow: hidden;
  }

  &__title {
    color: #000000;

    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  &__text {
    max-width: 292px;
    line-height: 30px;
    font-size: 16px;
  }

  &__info {
    margin-top: 30px;
    padding: 24px 30px;
    border-top: 1px solid #ececec;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__date {
    color: #999999;
    & span {
      color: $blue;
      margin-right: 8px;
    }
  }

  &__info-box {
  }

  &__comments {
    position: relative;
    color: #7e7e7e;
    margin-left: auto;
    & span {
      margin-right: 7px;
    }
  }

  &__comments::before {
    top: -70%;
    left: -30px;
    position: absolute;
    content: '';
    display: block;
    width: 1px;
    height: 40px;
    background-color: #ececec;
  }

  &__view {
    margin-left: 30px;

    & span {
      margin-right: 6px;
    }
    color: #7e7e7e;
  }
}

.advantages {
  &__inner {
    display: flex;
    justify-content: center;
  }

  &__item {
    padding: 60px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    &:first-child {
      border-right: 1px solid #eff1f5;
    }
  }

  &__img {
    margin-bottom: 30px;
  }

  &__title {
    color: #000000;
    white-space: nowrap;
    font-size: 24px;
    & span {
      color: $blue;
    }
  }
}
.join {
  padding: 110px 0px;
  background-color: #151a20;
  background-image: linear-gradient(to left, #0d3ef2 0%, #7221a0 100%);
  opacity: 0.9;
  &__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: #ffffff;
    margin-bottom: 23px;
    font-size: 36px;
    font-weight: 400;
  }

  &__subtitle {
    color: #e7e7e7;
    margin-bottom: 50px;
    font-size: 18px;
  }

  &__btn {
    display: block;
    padding: 20px 44px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    font-size: 16px;
  }
}

.footer {
  background-color: #262b30;
  &__logo {
    width: 163px;
    height: 40px;
    margin-bottom: 34px;
  }

  &__content {
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 115px 0px 120px;
  }

  &__col {
    &-title {
      color: #ffffff;
      white-space: nowrap;
      font-size: 18px;
      margin-bottom: 36px;
    }

    &-list {
      a {
        margin-bottom: 20px;
        color: #ababab;
        font-size: 15px;
      }
    }

    &-text {
      color: #ababab;
      line-height: 28px;
    }

    &-menu {
      max-width: 135px;
    }

    &:first-child {
      max-width: 260px;
    }

    &:last-child {
      max-width: 360px;
    }
  }

  &__info {
    color: #ababab;

    position: relative;
    padding-left: 30px;
    margin-bottom: 22px;
  }

  &__icon-telephone {
    margin-top: 30px;
    &::before {
      content: '\ea6a';
      font-family: 'Linearicons';
      color: #fff;
      position: absolute;
      left: 0;
    }
  }

  &__icon-envelope {
    &::before {
      content: '\e996';
      font-family: 'Linearicons';
      color: #fff;
      position: absolute;
      left: 0;
    }
  }

  &__icon-map-marker {
    line-height: 26px;
    &::before {
      content: '\ea7a';
      font-family: 'Linearicons';
      color: #fff;
      position: absolute;
      left: 0;
      top: 25%;
    }
  }

  &__form {
    margin-top: 35px;
    margin-bottom: 50px;
  }

  &__social-list {
    display: flex;

    li + li {
      margin-left: 13px;
    }
    a {
      width: 42px;
      height: 42px;
      background-image: url(../img/css_sprites.png);
    }

    &-facebook {
      background-position: -0 0;
    }

    &-twitter {
      background-position: -42px 0;
    }

    &-google {
      background-position: -84px 0;
    }

    &-pinterest {
      background-position: -126px 0;
    }

    &-linkedin {
      background-position: -168px 0;
    }

    &-basketball {
      background-position: -210px 0;
    }
  }

  &__copy {
    padding: 40px 0px;
    background-color: #192027;
    &-text {
      color: #999999;
      text-align: center;

      & span {
        color: #ffffff;
      }
    }
  }
}
